@import './../../scss/vars.scss';

.rg-home-page {
  text-align: center;
  width: 100%;
  @media screen and (min-width: $desktop-min-width) {
    margin: 2rem;
  }
}

.rg-home-page__list-div {
  max-width: 29.375rem;
  display: inline-block;
  text-align: left;
  width: 100%;

  @media screen and (min-width: $desktop-min-width) {
    widht: auto;
  }
}
