@import "./scss/vars";

body {
  font-family: $app-font;
  margin: 0;
  padding: 0;
}

.rg-change-lang-btn {
  background-color: none;
  border: none;
  color: $action-primary-color;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $action-primary-color-hover;
  }
}
