@import './vars.scss';

.button {
  background-color: $action-primary-color;
  font-size: 0.875rem;
  padding: 0.5rem;
  border: $action-primary-color;
  border-radius: 0.0625rem;

  &:hover {
    background-color: $action-primary-color-hover;
  }
}
