
$app-font: 'Roboto', sans-serif;

$action-primary-color: #0080FF;
$action-primary-color-hover: #044FB3;
$bg-primary-color: #FFFFFF;
$text-primary-color: #000000;
$text-secondary-color: #A5A5A5;
$border-primary-color: #A5A5A5;
