
$app-font: 'Roboto', sans-serif;
$desktop-min-width: 470px;
$action-primary-color: #0080FF;
$action-primary-color-hover: #044FB3;
$action-primary-color-text: #FFFFFF;
$bg-primary-color: #FFFFFF;
$text-primary-color: #000000;
$text-secondary-color: #A5A5A5;
$border-primary-color: #A5A5A5;
$shadow-color: #A5A5A5;
